.Task {
  width: 100%;
  background: rgb(255, 255, 240);
  border: 1px dashed #f7c531;
  border-radius: 5%;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}
.Task_Info {
  display: flex;
  width: 100%;
  justify-content: space-around;
  text-transform: capitalize;
  cursor: pointer;
}
.Task:hover {
  background: #f7c531;
}
.Status {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  margin-right: 5rem;
}
.Task_Name_Container {
  width: 70%;
  display: flex;
  justify-content: flex-start;
  margin-left: 5rem;
}
